body {
    background-color: #606060;
}

.ank {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    background-color: #606060;
    border: 3px solid gold;
    padding: 20px 40px;
    position: relative;
}

/* Before section--------------------------------------------- */
.ank:before {
    content: 'Button';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    background-color: #262626;
    transition: all 1s;
}

.ank:hover:before {
    transform: translateX(100%) scale(0) rotateY(360deg);
    opacity: 0;
}

/* After section--------------------------------------------- */
.ank:after {
    content: 'Button';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    background-color: #262626;
    transform: translateX(-100%) scale(0);
    opacity: 0;
    transition: all 1s;
}

.ank:hover:after {
    transform: translateX(0%) scale(1) rotateY(360deg);
    opacity: 1;
}

