/* Base ank */
.ank {
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 3px;
    font-size: 24px;
    color: purple;
    border: 3px solid purple;
    position: relative;
    transition: all 0.7s;
    overflow: hidden;   /* delete to better see how this button works */
}

.ank:hover {
    color: white
}

/* before section */
.ank:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 40px solid purple;
    border-bottom: 40px solid purple;
    border-left: 40px solid purple;
    border-right: 40px solid transparent;
    transform: translateX(-100%);
    transition: all 0.6s;
    z-index: -1;
}

.ank:hover:before {
    transform: translateX(0);
}

/* after section */
.ank:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 40px solid purple;
    border-bottom: 40px solid purple;
    border-left: 40px solid transparent;
    border-right: 40px solid purple;
    transform: translateX(100%);
    transition: all 0.6s;
    z-index: -1;
}

.ank:hover:after {
    transform: translateX(0);
}
