
/*Button shared base* -------------------------------*/
.c-btn {
    background: none;
    font-size: 40px;
    color: tomato;
    border: 3px solid tomato;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}

.c-btn:hover {
    color: white;
}

/*First btn ------------------------------------------*/
.btn-one:before {
    content: '';
    position:absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: tomato;
    border-radius: 0 0 50% 50%;
    transition: all 1s
}

.btn-one:hover:before {
    height: 195%;
}

/*Second btn ------------------------------------------*/
.btn-two:before {
    content: '';
    position:absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: tomato;
    border-radius: 50% 50% 0 0;
    transition: all 1s;
}

.btn-two:hover:before {
    height: 195%;
}