/*
 Anker has no background. Instead, the "black background" effect is achieved by combining the colors of its ::before and ::after
 pseudo-elements, both of which have a z-index of -1. This setup ensures the text remains visible on top
 */

.ank {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    padding: 20px 40px;
    position: relative;
    transition: all 0.5s;
}

.ank:hover {
    color: #262626;
}

/* Before section--------------------------------------------- */
.ank:before {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: 100%;
    height: 100%;
    background-color: #20caff;
    mix-blend-mode: multiply;  /*combines colors of the ones that have the same thing */
    z-index: -1;
    transition: all 0.5s;
}

.ank:hover:before {
    transform-origin: top;
    transform: perspective(1000px) RotateX(75deg); /*'perspective(1000px)' absolute king */
    left: 0px;
}

/* After section--------------------------------------------- */
.ank:after {
    content: '';
    position: absolute;
    right: -3px;
    bottom: -3px;
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    mix-blend-mode: multiply;  /*combines colors of the ones that have the same thing */
    z-index: -1;
    transition: all 0.5s;
}

.ank:hover:after {
    transform-origin: bottom;
    transform: perspective(1000px) RotateX(-75deg);  /*'perspective(1000px)' absolute king */
    right: 0px;
}
