/* Base anker */

body {
    background-color: #262626;
}

.ank {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: transparent;
    color: #f6b93b;
    border: 3px solid #f6b93b;
    padding: 25px 50px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.ank:hover {
    color: #262626;
}











/* ---------------------------------------------First anker---------------------------------------------- */
/* Before section--------------------------------------------- */
.ank:before {
    content: '';
    position: absolute;
    left: -25%;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.ank:hover:before {
    left: 0;
}

/* After section--------------------------------------------- */
.ank:after {
    content: '';
    position: absolute;
    right: -25%;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.ank:hover:after {
    right: 0;
}

/*---------------------------------------------span section---------------------------------------------*/
/* Before section--------------------------------------------- */
.ank span:before {
    content: '';
    position: absolute;
    left: 25%;
    top: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.ank:hover span:before {
    top: 0;
}

/* After section--------------------------------------------- */
.ank span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.ank:hover span:after {
    bottom: 0;
}




/* ---------------------------------------------Second anker--------------------------------------------- */
/* Before section--------------------------------------------- */
.second-ank:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.second-ank:hover:before {
    top: 0;
}

/* After section--------------------------------------------- */
.second-ank:after {
    content: '';
    position: absolute;
    right: 0;
    top: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.second-ank:hover:after {
    top: 0;
}

/*---------------------------------------------span section---------------------------------------------*/
/* Before section--------------------------------------------- */
.second-ank span:before {
    content: '';
    position: absolute;
    left: 25%;
    top: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.second-ank:hover span:before {
    top: 0;
}

/* After section--------------------------------------------- */
.second-ank span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    z-index: -1;
}

.second-ank:hover span:after {
    bottom: 0;
}




/* ---------------------------------------------third anker--------------------------------------------- */
/* Before section--------------------------------------------- */
.third-ank:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    transition-delay: 0.1s;
    z-index: -1;
}

.third-ank:hover:before {
    top: 0;
}

/* After section--------------------------------------------- */
.third-ank:after {
    content: '';
    position: absolute;
    right: 0;
    top: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    transition-delay: 0.7s;
    z-index: -1;
}

.third-ank:hover:after {
    top: 0;
}

/*---------------------------------------------span section---------------------------------------------*/
/* Before section--------------------------------------------- */
.third-ank span:before {
    content: '';
    position: absolute;
    left: 25%;
    top: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    transition-delay: 0.3s;
    z-index: -1;
}

.third-ank:hover span:before {
    top: 0;
}

/* After section--------------------------------------------- */
.third-ank span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    transition: all 0.5s;
    transition-delay: 0.5s;
    z-index: -1;
}

.third-ank:hover span:after {
    bottom: 0;
}