body {
    background-color: #262626;
}

.c-btn {
    background: #f1c40f;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    border: none;
    padding: 20px 40px;
    text-transform: uppercase;
    position: relative;
}

/*before ------------------------------------------*/
.btn-one:before {
    content: 'BUTTON';
    position: absolute;
    left: 0;
    top: 0;
    width: 100.08%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ce771;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: all 1s;
}

.btn-one:hover:before {
    transform: rotateX(0deg)
}

/*after ------------------------------------------*/
.btn-one:after {
    content: 'BUTTON';
    position:absolute;
    left: 0;
    top: 0;
    width: 100.08%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    transform-origin: bottom;
    transform: rotateX(270deg);
    transition: all 1s;
    transition-delay: 0.25s;
}

.btn-one:hover:after {
    transform: rotateX(0deg)
}