<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"> CSS Web Practice </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""> Something? </a>
        </li>
      </ul>

      <p class="navbar-text mx-auto mb-0 text-center" style="font-size: 1.1rem;"> {{ project.name }} </p>

      <ul class="navbar-nav custom-me-6 ms-auto mb-lg-0"> <!-- Use ms-auto for right alignment -->
        <li class="nav-item dropdown">
          <!-- Include the projects dropdown from the partial template -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </button>
            <ul class="dropdown-menu overflow-auto" style="max-height: 262px;">
              {% for project in projects %}
                <li><a class="dropdown-item" href="{% url 'myapp:project' project_name=project.name %}">{{ project.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


