{% extends "myapp/projects_base.html" %}
{% load static %}

{% block content_css %}
    <link rel="stylesheet" href="{% static 'myapp/css/project_2.css' %}">
{% endblock %}

{% block projects_content %}
    <div class="custom-container">
        <button class="c-button-1 move ease">Ease (Default)</button>
        <button class="c-button-1 move linear">Linear</button>
        <button class="c-button-1 move ease-in">Ease-In</button>
        <button class="c-button-1 move ease-out">Ease-Out</button>
        <button class="c-button-1 move ease-in-out">Ease-In-Out</button>
    </div>

{% endblock %}