{% extends "myapp/projects_base.html" %}
{% load static %}

{% block content_css %}
    <link rel="stylesheet" href="{% static 'myapp/css/project_6.css' %}">
{% endblock %}

{% block projects_content %}
<div class="d-flex align-items-center" style="height: 93vh;">
    <div class="container d-flex flex-column align-items-center">
        <img src="{% static 'myapp/images/sun_walk.jpg' %}" class="ft-image ft-image-ln mb-1" alt="fitness image">
        <img src="{% static 'myapp/images/sun_walk.jpg' %}" class="ft-image ft-image-bg mb-1" alt="fitness image">
        <img src="{% static 'myapp/images/sun_walk.jpg' %}" class="ft-image ft-image-lg" alt="fitness image">
    </div>
</div>
{% endblock %}