{% extends "myapp/projects_base.html" %}
{% load static %}

{% block content_css %}
    <!-- Myapp css template -->
    <link rel="stylesheet" href="{% static 'myapp/css/project_15.css' %}">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block projects_content %}
    <div class="d-flex align-items-center" style="height: 93vh;">
        <div class="container d-flex flex-column align-items-center">
            <a href="" class="ank">Button</a>
        </div>
    </div>
{% endblock %}